@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap');

body {
    margin: 0;
    box-sizing: border-box;
    font-family: "Noto Sans JP", sans-serif;
}

.grid {
    display: grid;
    grid-template-columns: 100px 1fr;
    height: 100vh;
}

.sticky {
    height: 94vh;
    /* border: 1px solid #000; */
    margin: 1rem;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.16);
    border-radius: 2rem;
}

@media screen and (min-width:600px) {
    .sticky {
        position: fixed;
        width: 68px;
    }
}

/* .item 1 nav */
ul {
    padding: 0;
    text-align: center;
}

nav i,
p {
    text-align: center;
    margin: 0;
}

nav i {
    font-size: 1.4rem;
    margin-top: 1.5rem;
}

nav p {
    font-size: .7rem;
    margin-top: 6px;
}

nav a {
    text-decoration: none;
    color: #000;
}

.navIcon::before {
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 200% 200%;
    background-image: linear-gradient(45deg, #895b8a 0%, #f6bfbc 52%, #80aba9 90%);
}

.sticky i:hover {
    transform: scale(1.2);
    transition-duration: .4s;
}

@media screen and (max-width:600px) {

    /* display grid */
    .grid {
        grid-template-rows: 64px;
        height: 5vh;
    }

    .icon {
        display: flex;
        padding: 0 28px;
        justify-content: space-around;
        margin-top: 10px;
    }

    ul p {
        display: none;
    }

    nav i {
        font-size: 1.4rem;
    }

    .fa-solid,
    .fa-brands {
        margin: 0;
        padding: 0;
    }

    .sticky {
        height: 46px;
        margin: .68rem;
    }

    ul {
        display: flex;
        padding: 0 28px;
        justify-content: space-around;
        margin-top: 10px;
    }

    ul p {
        display: none;
    }

    nav i {
        font-size: 1.4rem;
    }

    .fa-solid,
    .fa-brands {
        margin: 0;
        padding: 0;
    }

    .item {
        margin: 10px;
    }

    .bigbox {
        margin-left: 10px;
        margin-top: 0;
    }

    /* flex layout */
    .bigbox {
        border-radius: 1.4rem;
    }

    /* flex items */
    .small_box {
        flex: 0 0 90vh;
    }

    .form_box {
        flex: 0 0 80vh;
    }
}

@media screen and (max-width:600px) {

    /* display grid */
    .grid {
        grid-template: 64px 1fr / 1fr;
    }

    ul {
        display: flex;
        padding: 0 28px;
        justify-content: space-around;
        margin-top: 10px;
    }

    ul p {
        display: none;
    }

    nav i {
        font-size: 1.4rem;
    }

    .fa-solid,
    .fa-brands {
        margin: 0;
        padding: 0;
    }

    .item {
        margin: 10px;
    }

    .bigbox {
        margin-left: 10px;
        margin-top: 0;
    }

    /* flex layout */
    .bigbox {
        border-radius: 1.4rem;
    }

    /* flex items */
    .small_box {
        flex: 0 0 90vh;
    }

    .form_box {
        flex: 0 0 80vh;
    }
}

.page_title {
    margin-top: 20px;
    display: flex;
    align-items: center;
}

.page_title p {
    margin: 0;
    font-size: 1.6rem;
    letter-spacing: 1.5px;
    margin-right: 8px;
}

.page_title i {
    font-size: 1.2rem;
}

.works_item:hover {
    transform: scale(0.98);
    opacity: .8;
    cursor: pointer;
}

/* nav & .works_item flex */
.flex {
    display: flex;
}

.item .sticky {
    position: sticky;
    top: 0;
    /* Adjust as needed */
}

/* .works_grid */

.works_grid {
    overflow-y: auto;
    scrollbar-width: none;
    padding: 20px 10px 20px 8px;
    margin-bottom: 60px;
}

.content_flex {
    display: flex;
    flex-wrap: wrap;
    /* flexアイテムを折り返す */
    gap: 10px;
}

.works_item {
    flex: 0 0 calc(50% - 10px);
    /* 列幅の設定 */
    max-width: calc(50% - 10px);
    /* 最大幅の設定 */
    height: auto;
    /* 高さの自動調整 */
    margin-bottom: 10px;
    /* 下の余白 */
}

.works_item img {
    width: 100%;
    height: auto;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.16);
    border-radius: 20px;
}

.title {
    margin-top: 20px;
    padding: 10px 0;
    letter-spacing: 1.2px;
    font-size: 1.12rem;
}

@media (max-width: 768px) {
    .works_item {
        flex: 0 0 calc(100% - 10px);
        /* 1列にスタックする */
        max-width: calc(100% - 10px);
    }
}

@media (max-width: 600px) {
    .flex {
        display: block;
    }
    .works_grid {
        margin-left: 10px;
    }
}

.content_flex p {
    padding-bottom: 20px;
    text-align: center;
}

.works_text p {
    letter-spacing: 1.5px;
    font-size: 1.2rem;
    color: #000;
}

.content_flex a {
    text-decoration: none;
    color: #000;
}